.mainScene {
    display: grid;
    grid-template-columns: 1fr 250px 250px;
    grid-template-rows: 70px 1fr 120px 230px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.mainScene > .title {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.mainScene .main {
    grid-column: 1;
    grid-row: 2;
}

.mainScene .control {
    grid-column: 1;
    grid-row: 3;
}

.mainScene .statuses {
    grid-column: 1/3;
    grid-row: 4;
}

.mainScene .view {
    grid-column: 2;
    grid-row: 1/4;
}

.mainScene .badStates {
    grid-column: 3;
    grid-row: 1/5;
}
